
{{!-- -------------------------------------------blog start-------------------------------- --}}

<section>
  <div class="container">
     <h1 class="blog_heading">blog <hr class="blog_hr"></h1>
    <div class="row">
      
      <div class="col-12 col-md-3 col-lg-3 ">      
<div class="card grow blog_card" style="width: 15rem;">
  <img class="card-img-top" src="images/blog1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Beginner’s Guide to CricStox</h5>
    <p class="card-text">All the users who have been with us since the start, understand the basic functioning</p>
    <a href="https://cricstox.in/blog/2021/07/20/beginners-guide-to-cricstox/" class="btn ">Read More >>>></a>
  </div>
</div>

      </div>
      <div class="col-12 col-md-3 col-lg-3">      
<div class="card grow blog_card" style="width: 15rem;">
  <img class="card-img-top" src="images/blog2.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Coins – The New Way of Trading</h5>
    <p class="card-text">All you need to do is refer the app to your family & friends to earn 1000 coins for each referral. </p>
    <a href="https://cricstox.in/blog/2021/07/21/coins-the-new-way-of-trading-cricstox/" class="btn ">Read More >>>></a>
  </div>
</div>

      </div>
      <div class="col-12 col-md-3 col-lg-3">      
<div class="card grow blog_card" style="width: 15rem;">
  <img class="card-img-top" src="images/blog3.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Why West Indies Is the Team to Beat ...</h5>
    <p class="card-text">T20 cricket and the West Indies go hand in hand. It’s a format that ...</p>
    <a href="https://cricstox.in/blog/2021/07/21/why-west-indies-is-the-team-to-beat-at-t20-world-cup-2021/" class="btn ">Read More >>>></a>
  </div>
</div>

      </div>

      <div class="col-12 col-md-3 col-lg-3">      
<div class="card grow blog_card" style="width: 15rem;">
  <img class="card-img-top" src="images/blog4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Getting Started on CricStox</h5>
    <p class="card-text">Cricket + Stocks = CricStox Trade in stox of your favourite cricketers for FREE! Top t</p>
    <a href="https://cricstox.in/blog/2021/07/20/getting-started-on-cricstox/" class="btn ">Read More >>>></a>
  </div>
</div>

      </div>
    </div> 

  </div>
</section>




{{!-- -------------------------------------------blog end-------------------------------- --}}

