
{{!-- -------------------------------------header start---------------- --}}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="header_section">
                  <div class="header_title">
                    <h3> Cricket + Stocks</h3>
                    <h1>CricStox</h1>
                  </div>
                  
                   

                   <div class="btn_imgages">
                        <h5>Download Now</h5>
                   <a href="https://play.google.com/store/apps/details?id=com.cricstox.cricstox" target="_blank"> <img src="images/google.png" alt="google" class="img-fluid "> </a>
                   <a href="https://apps.apple.com/in/app/cricstox/id1550259218" target="_blank"> <img src="images/app.png" alt="app" class="img-fluid"> </a></a>
                    </div>        
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="images/hero1.png" alt="" srcset="">        
                </div>
            </div>
             
        </div>   
   </div>
    </div>
</section>

<section>
   
</section>
<br><br><br><br>


{{!-- -------------------------------------header end---------------- --}}
