
{{!-- -------------------------------------------instagram start-------------------------------- --}}



<section>
  <div class="container mt-5">
     <h1 class="blog_heading">Instagram <hr class="blog_hr"></h1>
    <div class="row">

 <div class="col-12 col-md-3 col-lg-3 ">
  <div class="box">
  <div class="box_img">
      <img src="images/insta1.png" alt="insta" >
  </div>
  <div class="box_content">
    <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
      <a href="https://www.instagram.com/p/CS_EbOgiO0J/"> <p>All the users who have been with us since the start, understand the basic functioning</p></a>
 </div>
 </div>
  </div>



   <div class="col-12 col-md-3 col-lg-3">
  <div class="box">
   <div class="box_img">
      <img src="images/insta2.png" alt="insta" >
   </div>
   <div class="box_content">
      <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
   <a href="https://www.instagram.com/p/CS_EbOgiO0J/"> <p>All the users who have been with us since the start, understand the basic functioning</p></a> 
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3">
  <div class="box">
   <div class="box_img">
      <img src="images/insta3.png" alt="insta" >
   </div>
   <div class="box_content">
     <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
   <a href="https://www.instagram.com/cricstox/ "> <p>All the users who have been with us since the start, understand the basic functioning</p></a> 
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3">
  <div class="box">
   <div class="box_img">
      <img src="images/insta4.jpg" alt="insta" >
   </div>
   <div class="box_content">
       <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <a href="https://www.instagram.com/cricstox/"><p>All the users who have been with us since the start, understand the basic functioning</p></a> 
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3 mt-5" >
  <div class="box">
   <div class="box_img">
      <img src="images/insta2.png" alt="insta" h>
   </div>
   <div class="box_content">
      <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <a href="https://www.instagram.com/cricstox/"> <p>All the users who have been with us since the start, understand the basic functioning</p></a>
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3 mt-5">
  <div class="box">
   <div class="box_img">
      <img src="images/insta6.jpg" alt="insta" >
   </div>
   <div class="box_content">
      <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <a href="https://www.instagram.com/cricstox/"> <p>All the users who have been with us since the start, understand the basic functioning</p></a>
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3 mt-5">
  <div class="box">
   <div class="box_img">
      <img src="images/insta7.png" alt="insta" >
   </div>
   <div class="box_content">
     <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <a href="https://www.instagram.com/cricstox/"> <p>All the users who have been with us since the start, understand the basic functioning</p></a>
 </div>
  </div>
  </div>

   <div class="col-12 col-md-3 col-lg-3 mt-5">
  <div class="box">
   <div class="box_img">
      <img src="images/insta8.jpg" alt="insta" >
   </div>
   <div class="box_content">
       <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
   <a href="https://www.instagram.com/cricstox/">  <p>All the users who have been with us since the start, understand the basic functioning</p></a>
 </div>
  </div>
  </div>


      </div>
  </div>
</section>


{{!-- -------------------------------------------instagram end-------------------------------- --}}

